In [1]:
import pandas as pd

In [2]:
rating_path = r'E:\School\DE_AN\Movie-Recommendation-System\src\data\ratings_small.csv'
rating_df = pd.read_csv(rating_path)
rating_df_sorted = rating_df.sort_values(by=['userId', 'timestamp'], ignore_index=True)

In [3]:
def get_train_df(df, train_size = 0.7):
    train = df.head(round(train_size * len(df)))
    return train
def get_test_df(df, train_size = 0.7):
    test = df.tail(len(df) - round((train_size) * len(df)))
    return test

In [6]:
train_size = 0.7
train_df = pd.DataFrame(rating_df_sorted.groupby('userId').apply(lambda x: get_train_df(x, train_size)))
test_df = pd.DataFrame(rating_df_sorted.groupby('userId').apply(lambda x: get_test_df(x, train_size)))
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

In [7]:
print(rating_df_sorted.shape, train_df.shape, test_df.shape)

(100004, 4) (69996, 4) (30008, 4)

In [8]:
train_df[train_df['userId'] == 1]

    userId  movieId  rating   timestamp
0        1     2294     2.0  1260759108
1        1     2455     2.5  1260759113
2        1     3671     3.0  1260759117
3        1     1339     3.5  1260759125
4        1     1343     2.0  1260759131
5        1     1371     2.5  1260759135
6        1     2105     4.0  1260759139
7        1       31     2.5  1260759144
8        1     1293     2.0  1260759148
9        1     1263     2.0  1260759151
10       1     1029     3.0  1260759179
11       1     1061     3.0  1260759182
12       1     1129     2.0  1260759185
13       1     1287     2.0  1260759187

In [9]:
test_df[test_df['userId'] == 1]

   userId  movieId  rating   timestamp
0       1     1953     4.0  1260759191
1       1     2150     3.0  1260759194
2       1     2193     2.0  1260759198
3       1     2968     1.0  1260759200
4       1     1405     1.0  1260759203
5       1     1172     4.0  1260759205