In [1]:
import pandas as pd

In [2]:
rating_path = r'E:\School\DE_AN\Movie-Recommendation-System\src\data\ratings_small.csv'
rating_df = pd.read_csv(rating_path)
rating_df_sorted = rating_df.sort_values(by=['userId', 'timestamp'], ignore_index=True)

In [3]:
def get_train_df(df, train_size = 0.7):
    train = df.head(round(train_size * len(df)))
    return train
def get_test_df(df, train_size = 0.7):
    test = df.tail(len(df) - round((train_size) * len(df)))
    return test

In [6]:
train_size = 0.7
train_df = pd.DataFrame(rating_df_sorted.groupby('userId').apply(lambda x: get_train_df(x, train_size)))
test_df = pd.DataFrame(rating_df_sorted.groupby('userId').apply(lambda x: get_test_df(x, train_size)))
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

In [7]:
print(rating_df_sorted.shape, train_df.shape, test_df.shape)

(100004, 4) (69996, 4) (30008, 4)

In [8]:
train_df[train_df['userId'] == 1]

    userId  movieId  rating   timestamp
0        1     2294     2.0  1260759108
1        1     2455     2.5  1260759113
2        1     3671     3.0  1260759117
3        1     1339     3.5  1260759125
4        1     1343     2.0  1260759131
5        1     1371     2.5  1260759135
6        1     2105     4.0  1260759139
7        1       31     2.5  1260759144
8        1     1293     2.0  1260759148
9        1     1263     2.0  1260759151
10       1     1029     3.0  1260759179
11       1     1061     3.0  1260759182
12       1     1129     2.0  1260759185
13       1     1287     2.0  1260759187

In [9]:
test_df[test_df['userId'] == 1]

   userId  movieId  rating   timestamp
0       1     1953     4.0  1260759191
1       1     2150     3.0  1260759194
2       1     2193     2.0  1260759198
3       1     2968     1.0  1260759200
4       1     1405     1.0  1260759203
5       1     1172     4.0  1260759205

In [14]:
rating_df_sorted.head()

   userId  movieId  rating   timestamp                      datetime
0       1     2294     2.0  1260759108 1970-01-01 00:00:01.260759108
1       1     2455     2.5  1260759113 1970-01-01 00:00:01.260759113
2       1     3671     3.0  1260759117 1970-01-01 00:00:01.260759117
3       1     1339     3.5  1260759125 1970-01-01 00:00:01.260759125
4       1     1343     2.0  1260759131 1970-01-01 00:00:01.260759131

In [30]:
from datetime import datetime

rating_df_sorted['datetime'] = pd.to_datetime(rating_df_sorted.timestamp, unit='s')

In [32]:
rating_df_sorted[rating_df_sorted.userId == 1]

    userId  movieId  rating   timestamp            datetime
0        1     2294     2.0  1260759108 2009-12-14 02:51:48
1        1     2455     2.5  1260759113 2009-12-14 02:51:53
2        1     3671     3.0  1260759117 2009-12-14 02:51:57
3        1     1339     3.5  1260759125 2009-12-14 02:52:05
4        1     1343     2.0  1260759131 2009-12-14 02:52:11
5        1     1371     2.5  1260759135 2009-12-14 02:52:15
6        1     2105     4.0  1260759139 2009-12-14 02:52:19
7        1       31     2.5  1260759144 2009-12-14 02:52:24
8        1     1293     2.0  1260759148 2009-12-14 02:52:28
9        1     1263     2.0  1260759151 2009-12-14 02:52:31
10       1     1029     3.0  1260759179 2009-12-14 02:52:59
11       1     1061     3.0  1260759182 2009-12-14 02:53:02
12       1     1129     2.0  1260759185 2009-12-14 02:53:05
13       1     1287     2.0  1260759187 2009-12-14 02:53:07
14       1     1953     4.0  1260759191 2009-12-14 02:53:11
15       1     2150     3.0  1260759194 2009-12-14 02:53:14
16       1     2193     2.0  1260759198 2009-12-14 02:53:18
17       1     2968     1.0  1260759200 2009-12-14 02:53:20
18       1     1405     1.0  1260759203 2009-12-14 02:53:23
19       1     1172     4.0  1260759205 2009-12-14 02:53:25

In [47]:
title = 'Toy Story'
meta = pd.read_csv('E:\School\DE_AN\Movie-Recommendation-System\src\data\movies_metadata.csv')
links_small = pd.read_csv('E:\School\DE_AN\Movie-Recommendation-System\src\data\links_small.csv')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18072\3780480192.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  meta = pd.read_csv('E:\School\DE_AN\Movie-Recommendation-System\src\data\movies_metadata.csv')

In [48]:
meta = meta.drop([19730, 29503, 35587])
meta['id'] = meta['id'].astype('int')
links_small = links_small[links_small['tmdbId'].notnull()]
links_small['tmdbId'] = links_small['tmdbId'].astype('int')
smd = meta[meta['id'].isin(links_small['tmdbId'])]
smd.shape

(9099, 24)

In [42]:
smd.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [102]:
links_small.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [50]:
smd = smd.merge(links_small, left_on='id', right_on='tmdbId')
print(smd.shape)
smd.columns

(9099, 27)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'movieId', 'imdbId', 'tmdbId'],
      dtype='object')

In [59]:
movieId = smd.loc[smd.title == title]['movieId']
movieId

0    1
Name: movieId, dtype: int64

In [65]:
def get_movie_id(movie_data_df, title):
    return movie_data_df[movie_data_df.title == title]['movieId']

In [60]:
movieId

0    1
Name: movieId, dtype: int64

In [69]:
user_watch_1 = rating_df_sorted[rating_df_sorted.movieId == int(movieId.iloc[0])]['userId']
user_watch_1

495        7
729        9
911       13
1104      15
3105      19
        ...
98531    660
98716    663
99023    664
99879    670
99951    671
Name: userId, Length: 247, dtype: int64

In [77]:
user_watch_1 = pd.Series([7, 9])
movie_recommend_id = pd.Series([10, 21, 2539])
user_watch_recommend = rating_df[(rating_df['userId'].isin(user_watch_1)) & \
    (rating_df['movieId'].isin(movie_recommend_id))]
user_watch_recommend['userId']

496    7
497    7
739    9
Name: userId, dtype: int64

In [79]:
rating_df[(rating_df['movieId'].isin(movieId))]

       userId  movieId  rating   timestamp
495         7        1     3.0   851866703
699         9        1     4.0   938629179
889        13        1     5.0  1331380058
962        15        1     2.0   997938310
3105       19        1     3.0   855190091
...       ...      ...     ...         ...
98531     660        1     2.5  1436680062
98714     663        1     4.0  1438397999
98740     664        1     3.5  1362421730
99858     670        1     4.0   938782344
99889     671        1     5.0  1064891129

[247 rows x 4 columns]

In [100]:
def metric1(movie_id, movie_rec_id, rating_df):

    # users who watch movie_id
    user_movie_id = rating_df[rating_df.movieId.isin(movie_id)]['userId']
    n_user_movie_id = user_movie_id.nunique()
    
    # user watch movie_id and movie_rec_id
    user_movie_rec_id = rating_df[(rating_df['userId'].isin(user_movie_id)) & \
                        rating_df['movieId'].isin(movie_rec_id)]['userId']
    n_user_movie_rec_id = len(user_movie_rec_id)

    return n_user_movie_rec_id / n_user_movie_id

In [101]:
movie_id = pd.Series([1])
movie_rec_id = pd.Series([10, 21])
print(metric1(movie_id, movie_rec_id, rating_df))

0.46153846153846156